@font-face{
    font-family: roman;
    src: url(./OPTIRomanaRoman-Normal.otf);
}
body{
    background-image: url(background.jpg);
    background-repeat:repeat-y;
    background-size: 100%;
    background-color: steelblue;
}
.almacen{
    text-align: center;
}
.information{
    background-color: white;
    padding: 20px;
    border-radius: 10px;;
}

h1 {
    width: 93%;
    padding: 20px;
    background-color: rgb(131, 226, 255);
    border-radius: 10px;
    text-align: center;
    font-family: roman;
  }
h2{
    text-align: center;
    font-family: roman;
}
.visual{
    width: 500px;
    text-align: left;
    font-family: roman;
    overflow: auto;
}
.contenedor {
    width: 500px;
    height: 250px;
    margin: 0px auto;
    background: #fff;
    overflow: auto;
    font-family: roman;
    border-radius: 4px;
    text-align: left;
    color: black;
}

.contenedor hr {
    background-color: #ff9d00;
    height: 5px;
}
.blue {
    color: blue;
}

.red {
  color: red;
}
