body{
    background-color: rgb(202, 255, 248);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.centrado{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px auto;
    width: 45%;
    margin-left: 15%;
    position: relative;
    float: left;
    height: 100px;
}
.izquierda{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px auto;
    margin-left: 6%;
    width: 45%;
    position: relative;
    float: left;
    height: 100px;
    background-color: rgb(226, 181, 190);
}
.derecha{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45%;
    margin-left: 53%;
    margin-top: 0.7%;
    position: absolute;
    float: left;
    height: 100px;
}

